[2020-10-14 13:57] prevent-public-repos[bot] opened #12 "[CRITICAL] Public Repositories are visible to all users"
Please note that this repository is publicly visible to all users!

/cc @danielmittelman

[2020-10-14 23:56] #12 closed

[2020-11-30 08:21] eranh opened #33 "Square Button - Spinner not shown in mobile browsers in loading state"
When button is in loading state - it shrinks but no spinner is shown. Works fine in mobile emulators on desktop
Talked to Orr about it.

[2020-11-30 11:08] etaylib opened #34 "add "arrow" to the dialog component"
Can you please support the dialog component having an "arrow" support?
It will assist the user to connect between the anchor and the dialog like usually used on tooltips.

I assume it should be a big dynamic so it can match the actual position of the dialog and its position comparing the anchor.

[2020-11-30 11:10] etaylib opened #35 "support continous hover between anchor and dialog"
I wish to keep the gap between the anchor and the dialog, but then I can't hover into it.
We wish to have support for hovering both dialog and its anchor, keep it open, and be able to go from one to the other using the mouse without closing it.

[2020-11-30 12:08] orrgottlieb commented on #34
@etaylib it has - the prop - a tooltip will display the arrow ....

[2020-11-30 12:08] #34 closed

[2021-03-02 19:23] udidoron opened #75 "Adding validation with { status: "error" } adds the error text but not the red border"
Checked on `monday-ui-react-core@0.0.80.`

### Example code:

[code]

### Expected result
The `TextField` will be rendered with a red border and a red error text.

### Actual result
Only the red error text is rendered.

![image](https://user-images.githubusercontent.com/6594051/109702813-65a00580-7b9d-11eb-9931-cf8df5f74052.png)

[2021-03-16 16:56] ayelethol opened #95 "Selecting and copying content of Editable heading doesn't work"
https://user-images.githubusercontent.com/22417492/111348734-25568200-8689-11eb-83f8-7d117465bbb3.mov

In the screen recording you can see me trying to select inside the Editable heading component (and failing)
I then show how it does work in Editable input component for reference :)

[2021-03-17 10:40] orrgottlieb commented on #95
@ayelethol fixed in version 103

[2021-03-17 10:40] #95 closed

[2021-03-18 16:56] udidoron opened #97 "Accessibility: Search's "clear" functionality does not respond to enter/space keys"
Checked on `monday-ui-react-core@0.0.105`, but the releases since then (latest release is 0.0.108 at time of writing) were either bumps or didn't reference this - the last update the search component had is 10 days ago.
In any case, this behaviour could also be replicated on the style.monday.com search page.

### Expected:
When the "Enter" or "Space" keyboard keys are pressed and the 'clear' butto

[2021-03-24 16:45] udidoron commented on #97
Seems to have been fixed by new releases, closing this issue

[2021-03-24 16:45] #97 closed

[2021-04-28 16:29] Carduelis opened #115 "EditableHeading doesn't work while EditableInput does"
[code]

[code]

When I did a console.log of those components I got:

![image](https://user-images.githubusercontent.com/3492820/116439167-890ac800-a84f-11eb-84bc-0490f368ebaa.png)

So looks like `EditableHeading` is not a React component, while `EditableInput` is.

Is there any workaround? Thank you

[2021-04-29 10:24] Carduelis opened #116 "Button aria-expanded typo"
There is a typo in the Button component: `aria-expended` instead of `aria-expanded`.
![image](https://user-images.githubusercontent.com/3492820/116536834-bb670480-a8e5-11eb-8b71-cbbcc1183b27.png)

"monday-ui-react-core": "^0.3.9",

[2021-04-29 10:24] Carduelis commented on #115
Update. Component `Heading` throws the same issue. Probably, it's the reason.

[2021-04-29 10:53] orrgottlieb commented on #115
@Carduelis, thanks for opening the issue, I'm taking a look at it now

[2021-04-29 11:08] orrgottlieb commented on #75
@udidoron this works fine in our storybook, can you please provide more details - like if the CSS is overridden in your app?

[2021-04-29 11:09] orrgottlieb commented on #116
@Carduelis thanks for reporting this issue, fixed from "0.3.10"

[2021-04-29 11:09] #116 closed

[2021-04-30 15:42] fikander opened #117 "ButtonGroup is not exported from the package"
Please add
`export { default as ButtonGroup } from "./ButtonGroup/ButtonGroup";`
to `src/index.js`

This prevents me from using it.

Tried to PR but repo is locked to contrib from outside.

[2021-04-30 21:05] Carduelis commented on #116
@orrgottlieb  thanks! That's awesomly fast reaction

[2021-05-02 06:03] orrgottlieb commented on #117
@fikander thanks for opening an issue, we've fixed it now (since - 0.3.11).
We allow PR from a fork - I would love to speak with you and understand what went wrong if you want.

If it is relevant please email me at - orr at monday.com

[2021-05-02 06:05] #117 closed

[2021-05-02 07:04] fikander commented on #117
Thanks for quick fix @orrgottlieb. Still in time to use it in devpost competition :)
`ButtonGroup` was the only problem I had.
I'll email you about unrelated ui-react-core question

[2021-05-24 10:09] hadasfa opened #130 "Group button looks weird when both buttons have tooltips (bug)"
<img width="138" alt="Screen Shot 2021-05-24 at 13 09 06" src="https://user-images.githubusercontent.com/72390374/119332417-39be8880-bc91-11eb-810a-9ff79869c11c.png">
The bug occurs when the group has two buttons and each has a tooltip as in the following code example:
<img width="723" alt="Screen Shot 2021-05-24 at 17 11 46" src="https://user-images.githubusercontent.com/72390374/119360285-20c6cf

[2021-05-30 09:31] amirbardugo opened #133 "split buttons doens't look good in safari"
split buttons are really splitted on safari
![image](https://user-images.githubusercontent.com/65164924/120099180-de820f80-c142-11eb-9022-02dfdc422334.png)

[2021-05-31 06:21] #133 closed

[2021-06-02 10:33] orrgottlieb commented on #130
@hadasfa fixed!

[2021-06-02 10:33] #130 closed

[2021-06-02 13:04] uri-shmueli opened #135 "Initially loading prop on a button appears broken"
When setting the loading prop to true (hardcoded/initially), we get an empty small box instead of a button with the loading animation

https://style.monday.com/?path=/story/components-button--loading

![image](https://user-images.githubusercontent.com/67226689/120496682-6f1c5200-c3c6-11eb-9be2-181913d4420c.png)

[2021-06-07 17:31] adirhaz1z opened #141 "Add right badge support for MenuItem"
<img width="297" alt="Screen Shot 2021-06-07 at 20 29 21" src="https://user-images.githubusercontent.com/70204051/121063495-0f131a80-c7cf-11eb-8671-f465afb15860.png">
Add support to right badges in the MenuItem (For example New / Beta..)

[2021-06-08 01:49] adirhaz1z opened #142 "Add image support for MenuItem"
It could be the same like component in MenuButton

[2021-06-08 02:15] adirhaz1z opened #143 "When pressing enter, menu doesn't close although passing closeDialogOnContentClick"

[2021-06-08 02:22] adirhaz1z opened #144 "Bugs with menu keyboard focus"
It shows keyboard focus when hovering a SubMenu and then moving the mouse out.
Also when hovering a MenuItem and then hovering the MenuDevider.

Loom link: https://www.loom.com/share/5bac5849699c435d87475da0f5df4de0

[2021-06-22 06:17] shlomoglik opened #150 "shuold be console.error"
https://github.com/mondaycom/monday-ui-react-core/blob/4d234e11a72351f304c1084f27659422807d8865/src/components/Menu/MenuItem/MenuItem.jsx#L59

[2021-07-05 13:38] ayelethol opened #155 "Combobox should have its own scrollable section for options to allow smooth keyboard navigation"
Currently when we use the combobox component we need to wrap it in a scrollable div.
This results in the keyboard navigation of the combobox not controlling the scrollable part and we lose view of the focused items when they are under the scroll line.
The combobox component should have its own prop of maxHeight for the options section and control the scrollable when using keyboard navigation to ma

[2021-07-28 08:39] #155 closed

[2021-09-17 14:28] fatihict opened #223 "Add support indeterminate state for the checkbox component"

[2021-09-17 15:29] fatihict opened #225 "Incorrect usage of aria labels in components EditableInput, ComboboxCategory and ComboboxOption"

[2021-09-22 06:20] #225 closed

[2021-09-23 07:30] #223 closed

[2021-10-07 13:32] sahariko opened #241 "[RFC] `<Dropdown>` should expose a leaner API for styling"
### What we have now

At the moment, our `<Dropdown>` component supports a `extraStyles` prop which is passed pretty directly into the underlying `react-select` component.

### Why is it problematic?

- Creates coupling between the API we give consumers and our implementation.
- Makes the component **too** extendable - consumers can change and potentially mess up our basic styling.
- Unfocused API

[2021-10-10 06:49] orrgottlieb commented on #241
@sahariko I like to idea of a more direct API - this will help us migrate (if needed) in the future and will allow us to make sure the look and feel of the component.

I think we need to make sure that this is not too limiting. we can ask in a survey (to the apps community) on how the usage. None the less we should add a description in a story on how to use the `extraStyles` prop. as it is not cle

[2021-10-10 09:08] sahariko commented on #241
Sounds good to me, and as an initial solution we can look for common use cases (menu width, etc.).

Also, good call on the documentation, I'll open an issue for that 🙂

[2021-10-10 09:10] sahariko opened #246 "Add documentation for `<Dropdown>` 's `extraStyles` prop"
The current documentation for `extraStyles` is not entirely clear on how to use it properly.

Seeing as this prop is a proxy for `react-select`'s `styles` prop, we can simply add an external link for now.

[2021-10-10 10:50] #144 closed

[2021-10-10 10:50] orrgottlieb commented on #144
fixed in previous versions

[2021-10-11 11:43] hadasfa commented on #75
Can I close this one? @orrgottlieb @udidoron

[2021-10-11 11:47] hadasfa opened #250 "Block text selection on monday-ui-react-core disabled button"
https://user-images.githubusercontent.com/72390374/136784936-6f5566dd-cf7a-40a6-8536-e472a89fe49b.mov

[2021-10-11 12:04] hadasfa opened #252 "Remove role image for decorative (ariaHidden=true) icon"
Remove the role: "image" attribute from the icon component when the value of the prop ariaHidden is true.
This prop is passed as part of the props inside screenReaderAccessProps which calculate in the hook "useIconScreenReaderAccessProps."

[2021-10-11 12:06] hadasfa opened #253 "Add role "combobox" to Combobox component"
Add role: "combobox" to the input element of the Combobox component

[2021-10-11 12:10] vivek32ta commented on #253
Hi @hadasfa, I'd love to take this up

[2021-10-11 14:28] hadasfa opened #256 "AttentionBox: Change the role of the component to alert instead of complementary"
AttentionBox: Change the role of the  "AttentionBox" component to alert instead of complementary.

[2021-10-11 14:48] hadasfa opened #257 "Add aria-disabled="true" attribute to button when disabled"
Add aria-disabled="true" attribute to button when disabled

[2021-10-11 14:52] hadasfa commented on #253
@vivek32ta Sure :) Let's do this. I'll check your PR when it's ready.

[2021-10-11 14:55] vczb commented on #257
Hello, i want work on this issue, assigned me please

[2021-10-11 19:35] pedaars commented on #250
I have submitted a pr for this issue.

During my initial testing, I found that you could also select the text on an active button if you mouse down just before the button element and drag over it.
So I have added the CSS fix to the whole button element.

[2021-10-12 09:16] Mihir50 commented on #256
Hey I was working on this :(

[2021-10-12 09:24] Dev5902 commented on #256
@Mihir50 I am also new to open source but I know that until and unless an issue is not assigned to anyone it can be worked upon by anyone who wants to work on it. I am very close to solving this issue.

[2021-10-12 11:45] #257 closed

[2021-10-12 12:35] hadasfa opened #265 "Feature: add support on "isIconHidden" prop to attention box component"
Add support on "isIconHidden" to AttentionBox component (will hide the icon before the title).

[2021-10-13 08:40] #252 closed

[2021-10-13 08:43] #250 closed, assigned to pedaars

[2021-10-14 11:19] hadasfa commented on #256
solved by @Dev5902 #262

[2021-10-14 11:19] #256 closed

[2021-10-14 11:27] hadasfa opened #273 "Attention box: when the prop "title" is undefined do not draw the "monday-style-attention-box-component__title-container""
please add screenshot or video on the pr when the prop "title" is empty and with value

[2021-10-14 11:28] hadasfa commented on #253
@vivek32ta vivek32ta do you still working on this PR?

[2021-10-14 11:33] hadasfa opened #274 "Fix the class names inside the MultiStepIndicator component to be according to BEM conventions"
Fix the class names inside the MultiStepIndicator component to be according to BEM conventions.
please add a screen shot of the components stories inside your PR :)

[2021-10-14 12:53] pedaars commented on #273
do you want this to be undefined or an empty string?

[2021-10-14 13:37] orrgottlieb commented on #143
@lucas-barros , sure you can, I'll assign it to you

[2021-10-16 20:17] lucas-barros commented on #143
@orrgottlieb is closing the dialog on "enter" expected for closeDialogOnContentClick?

[2021-10-31 06:03] #273 closed

[2021-10-31 06:03] #265 closed

[2021-10-31 13:35] Muskan777 commented on #246
Hi @sahariko . I'd like to take this up

[2021-10-31 13:44] sahariko commented on #246
Hi @Muskan777, thanks for stepping up!

You can start by reading our [contribution guidelines](https://github.com/mondaycom/monday-ui-react-core/blob/master/CONTRIBUTING.md).

To edit a component's prop description you can change the comment right above it in `propTypes`, and you should see the change reflected in Storybook.

[2021-11-06 19:22] Muskan777 commented on #246
Hi @sahariko I've opened a PR please have a look

[2021-11-20 02:25] chris-packett opened #351 "<Dropdown />'s Border Bottom Hidden"
Firstly, thank you for creating an awesome UI component library; it's saved us a ton of time.

We are using the <Dropdown /> component in our application and we are experiencing something a bit odd with the styling.

When I zoom out to 80% in Chrome, the <Dropdown /> component's bottom border is hidden:
![image](https://user-images.githubusercontent.com/26092192/142711176-80dd48d6-3750-4c48-b4ec-c

[2021-11-20 11:16] orrgottlieb commented on #351
Hi @chris-packett
Thank you so much for the issue - I see that the height calculation is a bit smaller -
![image](https://user-images.githubusercontent.com/60314759/142724316-64619ec3-5da5-42d7-b577-a07bb1ebdc49.png)

did you try it on other Chrome versions or other browsers?

[2021-11-22 21:01] hswimmer opened #353 "Declaration File for typescript"
For using this package with typescript, can you add declaration files

[2021-11-27 02:44] chris-packett commented on #351
Yes, this is also happening on Safari & Firefox.

[2021-12-21 14:23] orrgottlieb commented on #353
Hi @hswimmer , thank you for that request.
We plan on adding decleration files in the start of 2022

[2022-01-02 12:28] deelobase opened #422 "Deploy your app for free 🚀"
Hey @mondaycom, I'm just stopping by to say great work and to make a recommendation! Will you need to host your app in the future? If so, I'd highly recommend using [DeeloCloud](https://www.deelo.cloud). It's built for developers, it's super easy to use, and you won't have to manage servers - which means you can focus on building!
Here's how it works in a few steps:

After signing up at https://de

[2022-01-27 08:11] fredunikoo opened #497 "Dropdown: onOptionRemove prop is missing in the documentation"
Hi,

I noticed the Dropdown component documentation is lacking info on the onOptionRemove prop. It took me quite some time to figure out how to remove a single element when working with a multi Dropdown controlled component. When checking out the source, I found the existence of the onOptionRemove prop.

Thank you for al the work done in this library, it is so much fun working with it :).

[2022-01-30 09:29] hadasfa commented on #497
Hey, thank you so much on your feedback! Following your request, we added the onOptionRemove to the dropdown props docs.

[2022-01-30 09:29] #497 closed

[2022-02-10 14:57] saaryab opened #526 "Feature request - Expose storybook utils as a storybook addon"
Hi all and thanks for the inspiring work on your Design System, as well as for making this public so we can all appreciate it.

I am working on building a Design System for my company using our existing components and because I love your style I was wondering if you might think of separating the storybook functions and components from the actual component library so that others could use that setu

[2022-02-27 13:43] nunibaranes opened #559 "Textwithhighlight - Feature request - Support custom tags and classnames"
I'm using the [Textwithhighlight](https://style.monday.com/?path=/docs/text-textwithhighlight--overview) component, and I'd like to override/add the highlight-text element style.

1. Is it possible to support an additional className for the `highlight-text` element?
2.  Is it is possible to support rendering different HTML tags? like in this [library](https://www.npmjs.com/package/react-highlight-

[2022-03-07 12:19] cjd6568358 opened #572 "This component is very beautiful, what is it called? Are there plans to open source it?"
![image](https://user-images.githubusercontent.com/3970494/157032917-ae8851c4-0e78-4c93-9777-f8fef4c30333.png)

[2022-03-07 13:02] MosheZemah commented on #572
Hi @cjd6568358 , thank you for reaching out.
Currently this "Group header" is not part of our open source code. It is part of our inner monday.com code, and there are no plans to release it to open source in the near future.
Thank you.

[2022-03-07 13:02] #572 closed

[2022-03-20 12:53] hadasfa opened #593 "Fix dark mode combobox bug and add categories stories"
https://user-images.githubusercontent.com/72390374/159163241-c0b6f0be-ff91-4edc-aed0-5e2a488d7a19.mov

[2022-03-20 12:54] #593 closed

[2022-04-10 06:50] hadasfa opened #631 "Virtual list does not render when its parent height or width dynamic instead of custom"
when the height/width of the virtualized list parent component is a dynamic size (100% / fit-content/ min-content or else) the virtualized list does not render and not virtualized list children are displayed

[2022-04-25 08:18] maxiozer opened #651 "If i have categories, there are not taken into cosideration to set the height"
https://github.com/mondaycom/monday-ui-react-core/blob/841e13f134091e09789828c3813941a46131f832/src/components/Combobox/components/ComboboxItems/ComboboxItems.jsx#L38

![image](https://user-images.githubusercontent.com/3964255/165048810-134844b0-b9fa-4be8-a15e-b074a5d5ea3a.png)
![image](https://user-images.githubusercontent.com/3964255/165048852-a2ff9e41-267a-4bb3-b66d-d0d389619cc9.png)

[2022-04-25 10:25] maxiozer commented on #651
This only happens on virtualization

[2022-05-26 07:12] kinju4374 opened #685 "Automations same as monday.com"
Hi,

I want to create an automation UI the same as monday.com and I was exploring your API. I was successfully able to install **monday-ui-react-core** but I am getting errors when I run storybook. Could you please help me how to resolve the storybook error? Also, are there any initial simple examples to run and check simple UI with your API?

[2022-05-26 11:04] orrgottlieb commented on #685
hi @kinju4374 , can you please share the errors here ?

[2022-05-26 11:17] orrgottlieb commented on #651
@hadasfa can you check this if related to latest changes

[2022-05-26 12:28] kinju4374 commented on #685
Hi @orrgottlieb ,

I installed storybook using npm and after that I am getting a new error

![image](https://user-images.githubusercontent.com/17248153/170487657-4600ad63-4f9d-4b1d-b9ec-ff5028024b70.png)

I have added the following in package.json

![image](https://user-images.githubusercontent.com/17248153/170487793-44f42ca3-29f2-4f5b-b0ce-3d892b2623ec.png)

[2022-06-05 16:56] jolo-dev commented on #353
Is that still planned?

[2022-06-23 18:35] 3dyonic opened #714 "Maybe passing here element type like we did in the clickable component (@3dyonic you can see the clickable component for reference)"
Maybe passing here element type like we did in the clickable component (@3dyonic you can see the clickable component for reference)

_Originally posted by @hadasfa in https://github.com/mondaycom/monday-ui-react-core/pull/687#discussion_r904893195_

[2022-06-23 18:35] #714 closed

[2022-06-29 12:53] adirhaz1z commented on #141
Tagging you following our conversation, if it could be promoted ^
@hadasfa

[2022-06-29 12:54] adirhaz1z commented on #142
<img width="276" alt="image" src="https://user-images.githubusercontent.com/70204051/176441101-2eb98d3b-2e94-4e2d-a552-f8453411daa4.png">

[2022-07-05 16:15] nadav-dav commented on #353
Bump

[2022-07-09 10:39] orrgottlieb commented on #685
Hi @kinju4374 , thank you for posting this issue.
it look like you are trying to run your own storybook, please notice that storybook is a tool which helps develop component in a very efficient way.

* if you want to use storybook to develop your own local ui i suggest you go see the storybook docs https://storybook.js.org/docs/react/get-started/install
* if you want to see our storybook locally y

[2022-07-09 10:42] orrgottlieb commented on #353
Hi all in this thread, we had a change of priorities inside the company,
We will focus in Q3 on the following things

1. Typescript
2. Migrating our component css to css modules
@nadav-dav @jolo-dev @hswimmer

[2022-07-10 06:31] orrgottlieb commented on #559
Added from 1.44.0

[2022-07-10 06:31] #559 closed

[2022-07-22 13:00] fatihict opened #774 "Disabled button no longer showing a not-allowed cursor"
Due to `pointer-events: none;` `cursor: not-allowed` is no longer working

[2022-07-26 04:49] infonexage opened #783 "React 18 issue"
Am trying to implement with React 18, Is this will support ?? because this developed in react 16.
I'm facing many issues while adding the components with storybook styles. Kindly assist

[2022-07-26 06:51] orrgottlieb commented on #783
Hi @infonexage , can you please share some of the issues that you are facing,
* What are the errors?
* Where are you facing them ?

Code example or a demo repo would be appreciated as well

[2022-07-26 06:52] orrgottlieb commented on #774
Thank you,
We will investigate

[2022-07-26 06:53] orrgottlieb commented on #685
Hi @kinju4374,
Can i please close this issue ?

[2022-07-26 07:31] infonexage commented on #783
Actually am new for react, I'm trying to develop same like monday.com website with my custom data. I'm using this package to make development.

<div className={classes["leftpane-workspaces-section"]}>
      <span className={classes["leftpane-workspaces-title"]}>Workspace</span>
      <span className={classes["leftpane-workspaces-options"]}>
        <div className={classes["leftpane-workspaces-desc

[2022-09-01 10:20] orrgottlieb commented on #783
@infonexage it looks like you are missing an import of classes (maybe from the css module file)

[2022-09-04 07:03] hadasfa commented on #353
Hello everyone, following what @orrgottlieb wrote, we have started to invest efforts in our team on converting monday-ui-react-core from Javascript to Typescript.
We will add a declaration type for all our components as part of these efforts. The file will be accessible for anyone using our package but we will add it to the package.json "types" field after we will finish the conversion.
The first

[2022-09-04 14:10] #685 closed

[2022-09-30 22:04] vczb commented on #774
Hi I want to work on it

cc: @orrgottlieb @hadasfa

[2022-10-02 08:16] #783 closed

[2022-10-02 08:17] orrgottlieb commented on #774
@vczb go ahead

[2022-10-02 08:17] orrgottlieb commented on #353
@hswimmer closing this issue as we started our migration to typescript

[2022-10-02 08:17] #353 closed

[2022-10-02 08:20] orrgottlieb opened #891 "Accordion Typescript conversion"
### TypeScript here we come!
We are migrating to typescript, we are doing so component by component

We would love some help in converting some of our component to typescript - we've created a README
https://github.com/mondaycom/monday-ui-react-core/blob/master/TYPESCRIPT_MIGRATION.md

in this PR we expect you to convert the following files

- [ ] Accordion.jsx
- [ ] accordionItem-tests.jest.js
-

[2022-10-02 08:21] SumeetHaryani commented on #891
Hey @orrgottlieb, I would like to work on this issue

[2022-10-02 08:22] orrgottlieb commented on #891
@SumeetHaryani go ahead!
please notice that i've updated the issue description

[2022-10-02 08:23] SumeetHaryani commented on #891
yup, Thanks :)

[2022-10-02 08:25] orrgottlieb opened #892 "AttentionBox Typescript Migration"
### TypeScript here we come!
We are migrating to typescript, we are doing so component by component

We would love some help in converting some of our component to typescript - we've created a README
https://github.com/mondaycom/monday-ui-react-core/blob/master/TYPESCRIPT_MIGRATION.md

in this PR we expect you to convert the following files

- [ ] AttentionBox.jsx
- [ ] attentionBox-tests.jest.js

[2022-10-02 08:29] SumeetHaryani commented on #892
@orrgottlieb I would like to work on this issue as well

[2022-10-02 08:30] orrgottlieb opened #893 "Avatar Component Typescript Migration"
### TypeScript here we come!
We are migrating to typescript, we are doing so component by component

We would love some help in converting some of our component to typescript - we've created a README
https://github.com/mondaycom/monday-ui-react-core/blob/master/TYPESCRIPT_MIGRATION.md

in this PR we expect you to convert the following files

- [ ] Avatar.jsx
- [ ] AvatarBadge.jsx
- [ ] avatar.jest

[2022-10-02 08:31] orrgottlieb commented on #892
@SumeetHaryani you got it!
thanks and good luck

[2022-10-02 08:32] #274 closed

[2022-10-02 08:34] orrgottlieb commented on #274
due to transition into css modules format closing the issue

[2022-10-02 08:35] orrgottlieb opened #894 "Banner Component Typescript Migration"
TypeScript here we come!
We are migrating to typescript, we are doing so component by component

We would love some help in converting some of our component to typescript - we've created a README
https://github.com/mondaycom/monday-ui-react-core/blob/master/TYPESCRIPT_MIGRATION.md

in this PR we expect you to convert the following files

- [ ] Banner.jsx
- [ ] banner.jest.js
- [ ] BannerConstants.

[2022-10-02 08:38] orrgottlieb opened #895 "Checkbox Component Typescript converstion"
TypeScript here we come!
We are migrating to typescript, we are doing so component by component

We would love some help in converting some of our component to typescript - we've created a README
https://github.com/mondaycom/monday-ui-react-core/blob/master/TYPESCRIPT_MIGRATION.md

in this PR we expect you to convert the following files

- [ ] Checkbox.js
- [ ] useSupportFirefoxLabelClick.jsx
- [

[2022-10-02 08:48] orrgottlieb opened #896 "Divider Component Typescript Migration"
TypeScript here we come!
We are migrating to typescript, we are doing so component by component

We would love some help in converting some of our component to typescript - we've created a README
https://github.com/mondaycom/monday-ui-react-core/blob/master/TYPESCRIPT_MIGRATION.md

in this PR we expect you to convert the following files

- [ ] Divider.jsx
- [ ] DividerConstants.js
- [ ] divider.je

[2022-10-02 08:49] Rahul-Palahwat commented on #895
Hey @orrgottlieb it would be great if you assign this issue to me

[2022-10-02 08:50] SumeetHaryani commented on #893
@orrgottlieb I would like to work on this issue as well
Thanks :)

[2022-10-02 09:13] orrgottlieb commented on #895
@Rahul-Palahwat go for it!

[2022-10-02 11:10] aayushbisen commented on #896
Can I work on this issue? @orrgottlieb

[2022-10-02 11:11] orrgottlieb commented on #896
@aayushbisen of-course you can :)
assigned this to you 🙏

[2022-10-02 11:27] orrgottlieb commented on #893
@SumeetHaryani you got it!

[2022-10-02 11:47] suvnshr commented on #894
Hi @orrgottlieb, I would like to pick this up.

I would be following the patterns used in the .tsx and .ts files already present in the project.

[2022-10-02 13:23] orrgottlieb commented on #894
Hi @suvnshr go for it!

[2022-10-02 13:26] orrgottlieb opened #898 "Chips Typescript Migration"
### TypeScript here we come!
We are migrating to typescript, we are doing so component by component

We would love some help in converting some of our component to typescript - we've created a README
https://github.com/mondaycom/monday-ui-react-core/blob/master/TYPESCRIPT_MIGRATION.md

in this PR we expect you to convert the following files

- [ ] Chips.jsx
- [ ] chips-tests.jest.js
- [ ] chips-sn

[2022-10-02 13:28] orrgottlieb opened #899 "Counter Components Typescript Migration"
TypeScript here we come!
We are migrating to typescript, we are doing so component by component

We would love some help in converting some of our component to typescript - we've created a README
https://github.com/mondaycom/monday-ui-react-core/blob/master/TYPESCRIPT_MIGRATION.md

in this PR we expect you to convert the following files

- [ ] Counter.jsx
- [ ] CounterConstants.js
- [ ] counter-te

[2022-10-02 13:30] orrgottlieb opened #900 "DialogContentContainer Typescript Migration"
TypeScript here we come!
We are migrating to typescript, we are doing so component by component

We would love some help in converting some of our component to typescript - we've created a README
https://github.com/mondaycom/monday-ui-react-core/blob/master/TYPESCRIPT_MIGRATION.md

in this PR we expect you to convert the following files

- [ ] DialogContentContainer.jsx
- [ ] dialogContentContaine

[2022-10-02 13:38] aayushbisen commented on #896
I have a doubt
In `Divider.jsx` is the classname prop optional?

[2022-10-02 13:55] #75 closed

[2022-10-02 14:23] manastelavane commented on #898
Hey @orrgottlieb , I would like to work on this issue

[2022-10-02 14:40] orrgottlieb commented on #898
Hi @manastelavane go ahead, good luck!

[2022-10-02 14:45] a11rew commented on #899
I'd like to take this up @orrgottlieb

[2022-10-02 14:52] orrgottlieb commented on #899
You got it! @a11rew

[2022-10-02 14:58] orrgottlieb opened #903 "Link Typescript Migration"
TypeScript here we come!
We are migrating to typescript, we are doing so component by component

We would love some help in converting some of our component to typescript - we've created a README
https://github.com/mondaycom/monday-ui-react-core/blob/master/TYPESCRIPT_MIGRATION.md

in this PR we expect you to convert the following files

- [ ] Link.jsx
- [ ] LinkConsts.js
- [ ] link-snapshot-tests

[2022-10-02 14:59] vishal-codes commented on #900
Hey @orrgottlieb I am beginner in typescript and I would like to work on this issue.

[2022-10-02 15:01] orrgottlieb opened #904 "RadioButton Typescript Migration"
TypeScript here we come!
We are migrating to typescript, we are doing so component by component

We would love some help in converting some of our component to typescript - we've created a README
https://github.com/mondaycom/monday-ui-react-core/blob/master/TYPESCRIPT_MIGRATION.md

in this PR we expect you to convert the following files

- [ ] RadioButton.jsx
- [ ] RadioButtonConstants.js
- [ ] ra

[2022-10-02 15:02] orrgottlieb opened #905 "Refable Typescript Migration"
https://monday.monday.com/boards/3532714909/pulses/5424768688

TypeScript here we come!
We are migrating to typescript, we are doing so component by component

We would love some help in converting some of our component to typescript - we've created a README
https://github.com/mondaycom/monday-ui-react-core/blob/master/TYPESCRIPT_MIGRATION.md

in this PR we expect you to convert the following file

[2022-10-02 15:03] orrgottlieb commented on #900
Hey @vishal-codes , you got this!
good luck

[2022-10-02 15:04] orrgottlieb commented on #896
@aayushbisen yes

[2022-10-02 15:04] ercusz commented on #903
I'd like to work on this @orrgottlieb

[2022-10-02 15:08] orrgottlieb commented on #903
You got it @ercusz

[2022-10-02 15:43] Suman94310 commented on #904
I would like to work on this @orrgottlieb.

[2022-10-02 17:31] ercusz commented on #903
From current code in [Link.jsx#L32](https://github.com/mondaycom/monday-ui-react-core/blob/4f49d2cfc703c1b2f427d74e6f34abfcabc0c8c0/src/components/Link/Link.jsx#L32) the `backwardCompatibilityForProperties` function  requires 2 arguments, but only one argument is passed from that line.
Do you have any idea how to migrate that line? @orrgottlieb

[2022-10-02 17:36] orrgottlieb commented on #903
Make the second argument optional in the backwardCompatibilityForProperties function

[2022-10-02 18:01] chinmaym07 commented on #905
Hey @orrgottlieb . Can I work on this issue ?

[2022-10-02 18:05] orrgottlieb commented on #905
Sure @chinmaym07 go for it!

[2022-10-02 18:07] orrgottlieb commented on #904
yes go for it! @Suman94310

[2022-10-02 20:48] orrgottlieb commented on #903
@ercusz thanks! merged and approved, closing this issue with `hacktoberfest-accepted` tag!

[2022-10-02 20:49] #903 closed

[2022-10-03 13:47] orrgottlieb commented on #899
@a11rew thank you, @laviomri will do the review!

[2022-10-03 14:39] orrgottlieb opened #908 "Skeleton Typescript Migration"
TypeScript here we come!
We are migrating to typescript, we are doing so component by component

We would love some help in converting some of our component to typescript - we've created a README
https://github.com/mondaycom/monday-ui-react-core/blob/master/TYPESCRIPT_MIGRATION.md

in this PR we expect you to convert the following files

- [ ] Skeleton.jsx
- [ ] SkeletonConstants.jsx
- [ ] skeleto

[2022-10-03 14:41] orrgottlieb opened #909 "Flex Typescript Migration"
TypeScript here we come!
We are migrating to typescript, we are doing so component by component

We would love some help in converting some of our component to typescript - we've created a README
https://github.com/mondaycom/monday-ui-react-core/blob/master/TYPESCRIPT_MIGRATION.md

in this PR we expect you to convert the following files

- [ ] Flex.jsx
- [ ] FlexConstants.js
- [ ] flex-snapshot-te

[2022-10-03 14:48] orrgottlieb opened #910 "FormattedNumber TypeScript Migration"
TypeScript here we come!
We are migrating to typescript, we are doing so component by component

We would love some help in converting some of our component to typescript - we've created a README
https://github.com/mondaycom/monday-ui-react-core/blob/master/TYPESCRIPT_MIGRATION.md

in this PR we expect you to convert the following files

- [ ] FormattedNumber.jsx
- [ ] FormattedNumberConsts.js
- [

[2022-10-03 14:50] orrgottlieb opened #911 "HiddenText Typescript Migration"
TypeScript here we come!
We are migrating to typescript, we are doing so component by component

We would love some help in converting some of our component to typescript - we've created a README
https://github.com/mondaycom/monday-ui-react-core/blob/master/TYPESCRIPT_MIGRATION.md

in this PR we expect you to convert the following files

- [ ] HiddenText.jsx
- [ ] hiddenText.jest.js

Good Luck

[2022-10-03 14:52] orrgottlieb opened #912 "Label Typescript Migration"
TypeScript here we come!
We are migrating to typescript, we are doing so component by component

We would love some help in converting some of our component to typescript - we've created a README
https://github.com/mondaycom/monday-ui-react-core/blob/master/TYPESCRIPT_MIGRATION.md

in this PR we expect you to convert the following files

- [ ] Label.jsx
- [ ] LabelConstants.js
- [ ] Leg.js
- [ ] l

[2022-10-03 15:15] AhmedAli125 commented on #908
Hey @orrgottlieb! Can you please assign this issue to me

[2022-10-03 15:26] orrgottlieb commented on #908
Hi @AhmedAli125 you got it!

[2022-10-03 16:43] piotrski commented on #909
Hey @orrgottlieb! Can you please assign this issue to me?

[2022-10-03 17:05] orrgottlieb commented on #909
Hi @piotrski, yes you can

[2022-10-03 18:02] indremak commented on #910
Hi, I would like to work on this. Could you assign me?

[2022-10-04 05:45] Dawood-Shahid commented on #631
@hadasfa I want to work on this, please assign it to me.

[2022-10-04 05:53] Dawood-Shahid commented on #142
Hay @adirhaz1z, will you provide the SVG icons or I say assets?

[2022-10-04 06:32] #899 closed

[2022-10-04 06:38] orrgottlieb commented on #910
@indremak you got it!

[2022-10-04 06:48] orrgottlieb commented on #894
Hi @suvnshr thank you for the comments

1. please fix the way that you suggested adding the `React.Element` type, you may (if you want) replace the `string` type with it
2. awesome solution, go for it!
3. we are using `HTMLElement quite a lot, can you please add a type there that it is either `HTMLElement | SVGElement ` in the types folder [here](https://github.com/mondaycom/monday-ui-react-core/t

[2022-10-04 08:43] suvnshr commented on #894
Ok sure. Will do the changes.

Thanks!

[2022-10-04 09:54] aayushbisen commented on #896
First PR of Hacktoberfest 2022 ✅

[2022-10-04 10:37] #910 closed

[2022-10-04 12:46] adnansam110 commented on #135
@uri-shmueli Can you assign this issue to me under hacktoberfest label ?

[2022-10-04 14:59] Suman94310 commented on #904
@orrgottlieb I have created a pull request for this.

[2022-10-04 18:04] SumeetHaryani commented on #892
@orrgottlieb It will require me to migrate IconButton to Typescript as well.
Should I update it?

[2022-10-04 22:43] vczb commented on #774
Hi @orrgottlieb , I already did submit my PR and I trying to understand what is missing to complete the CI. Can you help me with that?

Thanks in advance

[2022-10-05 16:50] inovux commented on #891
is this available to work on or is it in progress :P ?

[2022-10-07 08:07] #894 closed

[2022-10-07 08:10] #904 closed

[2022-10-07 08:11] orrgottlieb commented on #904
@Suman94310 thank you very much, if you have any comments or sugegstions about this package please let me know 🙏

[2022-10-07 08:15] #896 closed

[2022-10-07 08:17] orrgottlieb commented on #891
Hi @SumeetHaryani are you working on this one, as other people might want to take this one as well

@inovux will update you here soon 🙏

[2022-10-07 08:17] orrgottlieb commented on #892
@SumeetHaryani you may 🙏

[2022-10-07 12:24] inovux commented on #891
@orrgottlieb okay tnx !

[2022-10-07 16:51] bautistaaa commented on #911
assign to me!

[2022-10-07 19:05] #911 closed

[2022-10-07 19:10] #912 closed

[2022-10-08 14:39] SumeetHaryani commented on #891
@orrgottlieb you can assign this issue to @inovux. As I am currently working on other issues

[2022-10-08 19:04] aayushbisen commented on #253
Combo box component renders a Search input which has a default role value `search`.

Do we need to customize the Search prop structure to give the required role in Combo box?

[2022-10-08 19:30] orrgottlieb commented on #891
@inovux you got this!

@SumeetHaryani thank you

[2022-10-09 06:23] #893 closed

[2022-10-09 07:11] orrgottlieb opened #922 "ButtonGroup Typescript Migration"
### TypeScript here we come!
We are migrating to typescript, we are doing so component by component

We would love some help in converting some of our component to typescript - we've created a README
https://github.com/mondaycom/monday-ui-react-core/blob/master/TYPESCRIPT_MIGRATION.md

in this PR we expect you to convert the following files:

- [ ] ButtonGroup.jsx
- [ ] ButtonGroupConstants.js
- [

[2022-10-09 11:31] aayushbisen commented on #922
Can I work on this issue? @orrgottlieb

[2022-10-09 13:31] SumeetHaryani opened #923 "IconButton Typescript Migration"
Migrate the following files to typescript

- [ ] IconButton.jsx
- [ ] IconButton-helpers.ts
- [ ] iconButton-tests.jest.js
- [ ] iconButton-snapshot-tests.jest.tsx

[2022-10-09 15:01] orrgottlieb commented on #922
Sure @aayushbisen

[2022-10-09 19:13] manastelavane commented on #898
Hi @orrgottlieb ,Plz don't remove this assignment, I will complete it till tomorrow.

[2022-10-09 19:16] manastelavane commented on #908
Hey @orrgottlieb ,if this issue is not assigned to anyone. Plz assign it to me.

[2022-10-10 16:05] #923 closed

[2022-10-10 16:09] orrgottlieb commented on #908
Hi @AhmedAli125 are you still working on this issue?

@manastelavane will update as soon as @AhmedAli125 will answer

[2022-10-11 13:19] hadasfa commented on #898
@manastelavane We merged your pr @manastelavane!
Thank you :)

[2022-10-12 07:40] hadasfa commented on #922
Hey @aayushbisen are you still working on this?

[2022-10-12 07:43] hadasfa commented on #909
@piotrski  I saw that @orrgottlieb wrote some notes on your pr. Did you see them?

[2022-10-12 07:44] hadasfa commented on #905
Hey @chinmaym07 ! Are you still working on this issue?

[2022-10-12 07:45] hadasfa commented on #900
@vishal-codes hey! are you still working on this issue?

[2022-10-12 07:45] hadasfa commented on #895
Hey @Rahul-Palahwat ! Are you still working on this issue?

[2022-10-12 07:48] hadasfa commented on #892
@SumeetHaryani We would love to merge your PR but right now we have a conflict there. Can you please resolve it and we will be able to accept it and mark this issue as "hacktoberfest accepted".

[2022-10-12 07:49] hadasfa commented on #891
Hey @inovux !  Are you still working on this issue?

[2022-10-12 08:28] aayushbisen commented on #922
Yeah!

[2022-10-12 08:57] Rahul-Palahwat commented on #895
Hey @hadasfa so sorry for delay. Please assign this issue to anyone else

[2022-10-12 16:49] suvnshr commented on #895
Hey @orrgottlieb can I pick this up?

[2022-10-12 17:33] aayushbisen commented on #922
@orrgottlieb the `icon` and `leftIcon` properites in options prop in `ButtonGroup` are `Icon` components right?

[2022-10-13 18:08] suvnshr opened #936 "Refactor: Make all imports follow absolute naming"
Since the project already contains `tsconfig.json`, absolutely named imports can be used instead of relative imports.

### Current usage(relative imports)

[code]

### After using the absolute named imports
[code]

---

But as of now, absolutely named imports are not used everywhere in the project.

Once the migration is done,  we can ask contributors to stick to absolutely named imports only.

I

[2022-10-18 07:54] hadasfa commented on #922
Hey @aayushbisen I am also a maintainer in Vibe design system :)
Regarding your questions:
1. Yes, icon and left icon are react components
2. You are correct we have a typo there. You can ignore it while creating the PR (treat tooltipMoveBy like it's working and we will fix this issue in a different PR

[2022-10-18 07:56] hadasfa commented on #908
Hey @manastelavane, I am also a maintainer in Vibe design system. Do you still working on this issue?

[2022-10-18 08:00] hadasfa commented on #900
@vishal-codes Thank you for your contribution! I am also a maintainer in vibe design system :)
I reviewed your PR, did you have a chance to read my comments?

[2022-10-18 08:01] hadasfa commented on #895
@suvnshr You got this! Good luck 🥇

[2022-10-18 08:01] suvnshr commented on #895
Thanks

[2022-10-18 08:04] hadasfa commented on #891
@inovux Thank you for the update. I will remove you from this issue assigns for making this available for anyone who want to take it.

[2022-10-18 08:15] hadasfa commented on #905
@chinmaym07 Hey, I am one of Vibe design system maintainers.
I unsassign you from this issue due to lack of activity, if there is any updates or you got back to this issue please let me know.

[2022-10-18 08:28] #892 closed

[2022-10-18 08:37] manastelavane commented on #908
I was busy with my exams. I will try to make a pr till Tomorrow.

[2022-10-18 13:27] vishal-codes commented on #900
I am extremely sorry, I wasn't able to work on requested changes as I was indulged in my exams but I assure you that I'll work and update about it in the next 24 hours.

[2022-10-18 14:27] orrgottlieb commented on #936
@suvnshr due to internal issue, we need to use the relative imports, once we will migrate our library build to rollup we will move it to relative 🙏

[2022-10-18 14:27] #936 closed

[2022-10-20 08:03] #922 closed

[2022-10-20 12:45] hadasfa commented on #908
No problem, thank you!

[2022-10-22 03:49] manastelavane commented on #908
Hey @hadasfa ,
I want help in converting one of the proptype to interface .
Skeleton.propTypes = {
      size: PropTypes.oneOf(
    Object.values([
      ...SKELETON_ALLOWED_SIZES.RECTANGLE,
      ...SKELETON_ALLOWED_SIZES.CIRCLE,
      ...SKELETON_ALLOWED_SIZES.TEXT
    ])
   ),
}

[2022-10-24 11:36] hadasfa commented on #900
there is any news regarding the PR? @vishal-codes

[2022-10-24 11:36] hadasfa commented on #891
@aayushbisen You got this!

[2022-10-24 11:38] hadasfa commented on #895
@suvnshr Hey are you still working on this issue?

[2022-10-24 11:43] vishal-codes commented on #900
Yes I have completed the requested changes. Commit - https://github.com/mondaycom/monday-ui-react-core/pull/933/commits/c15006bfaa1e295daee8af20883d89018157d138

[2022-10-24 11:52] hadasfa commented on #900
Thank you so much! I am approving this right now and adding the hacktoberfest accepted tag

[2022-10-24 11:56] #900 closed

[2022-10-24 12:07] vishal-codes commented on #900
Thank you for helping me by providing detailed review.😀

[2022-10-24 12:25] suvnshr commented on #895
yes, got a busy schedule as of today...will start working on it tomorrow onwards.

[2022-10-24 15:41] orrgottlieb commented on #908
@hadasfa please see question :)

[2022-10-30 09:50] #891 closed

[2022-11-24 16:05] SergeyRoyt commented on #908
Completed by PR https://github.com/mondaycom/monday-ui-react-core/pull/954

[2022-11-24 16:05] #908 closed

[2022-11-24 16:24] SergeyRoyt commented on #909
Closed in favor of https://github.com/mondaycom/monday-ui-react-core/pull/1006

[2022-11-24 16:24] #909 closed